{
  "presets": [
    "env",
    "flow",
    "react"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "react-css-modules",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}