{
  "presets": [
    "flow",
    "react"
  ],
  "plugins": [
    // enable class properties
    [
      "transform-class-properties"
    ],
    // enable styleName="" in react components
    [
      "react-css-modules"
    ],
    // spread operator
    [
      "transform-object-rest-spread"
    ]
  ],
  "env": {
    "server": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        [
          "react-css-modules",
          {
            // Don't import during SSR
            "removeImport": true
          }
        ]
      ]
    },
    "client": {
      "presets": [
        "env"
      ],
      "plugins": [
        // async
        [
          "transform-regenerator"
        ],
        // for some unknown reason I also have to specifically define it for the client... ?
        // enable class properties
        [
          "transform-class-properties"
        ]
      ]
    }
  }
}