{
  "presets": [
    "env",
    "flow",
    "react"
  ],
  "plugins": [
    [
      // enable styleName="" in react components
      "react-css-modules"
    ]
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "react-css-modules",
          {
            // Don't import during SSR
            "removeImport": true
          }
        ]
      ]
    }
  }
}